<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    Articles
  </div>
</div>

<% @articles.each do |article| %>                      
<div class="row">    
  <div class="col-sm-12">
    <h3><%= article.title %></h3>
    <p><%= truncate(article.content, length: 160) %></p>
    <h4><small class="text-muted"><%= time_ago_in_words(article.created_at) %> •  <%= link_to 'read more', article_path(article) %></small></h4>
  </div>
</div>


<div class="row divider">   
  <div class="col-sm-12"><hr></div>
</div>
<% end %>