<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    <%= @article.title %>
  </div>
</div>
                        
<div class="row">    
  <div class="col-sm-10">
    <h4><small class="text-muted">1 hour ago</small></h4>
    <p><%= @article.content %></p>
  </div>
</div>


<div class="row divider">   
  <div class="col-sm-12"><hr></div>
</div>