<div class="col-sm-12" id="stories">  
  <div class="page-header text-muted divider">
    About
  </div>
</div>


<div class="row">    
  <div class="col-sm-12">
    <p>This Blog has been built to demostrate some of the things I can do with ruby on rails. I am hosting this site on Heroku and you can check out the source code on <%= link_to 'bitbucket', 'https://bitbucket.org/talibguyani/basisblog' %></p>
  </div>
</div>