<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>BasisBlog</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <div class="box">
    <div class="row">
      
      <div class="column col-sm-3" id="sidebar">
        <%= link_to "B", root_path, class: "logo" %>
        <ul class="nav">
          <li><%= link_to "Articles", articles_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
        <ul class="nav hidden-xs" id="sidebar-footer">
          <li><a href="http://www.bootply.com">Built with Ruby on Rails</a></li>
          <li><a href="http://www.bootply.com">Template by Bootply</a></li>
        </ul>
      </div>
          
      <div class="column col-sm-9" id="main">
        <div class="padding">
          <div class="full col-sm-9">
            
            <%= yield %>
            
            <div class="col-sm-12">
              <div class="page-header text-muted divider">
                Connect with Me
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <%= link_to "Bitbucket", 'https://bitbucket.org/talibguyani' %> 
                <small class="text-muted">|</small> 
                <%= link_to "Coinbase", 'https://coinbase.com/talib' %>  
                <small class="text-muted">|</small> 
                <%= link_to "email", 'mailto:talib@abumaryam.com' %>  
              </div>
            </div>
            <hr>
            <div class="row" id="footer">    
              <div class="col-sm-6">
              </div>
              <div class="col-sm-6">
                <p class="pull-right"><%= link_to "Talib Guyani", 'http://abumaryam.com' %></p>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>          
    
    </div>
  </div>
</div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
